table{
    border: 1px solid;
    background-color: bisque;
    width: 200px;
    height: 200px;
}
td{
    background-color:antiquewhite;
    border: 1px solid;
}
/*.white{background-color: white;}
.black{background-color: black;}*/
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd){background-color: brown;}