.markdown{
	background-color: aquamarine;
	border-radius: 10px;
	border:3px;
}
markdown{
	background-color: aquamarine;
	border-radius: 10px;
	border:3px;
    padding: 5x;
}
.wh{
    background-color: antiquewhite;
    height: 80px;
    width: 80px;
}
.bl{
    background-color: rgb(58, 14, 14);
}
.container{
    border-style: solid;
    border: 10px;
}
.udd{
    rotate: 180deg;
    justify-content: center;
    text-align: center;
}
.border{
    text-align: center;
    background-color: rgb(255, 145, 0);
    padding: 30px;  
    justify-content: center;
}